.mod-overons {
	position: relative;
	.vlak {
		margin-top: -80px;
		padding: 100px 30px;
		clip-path: polygon(0 0, 100% 15%, 100% 85%, 0% 100%);
	}
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
		clip-path: polygon(85% 0, 100% 0%, 100% 100%, 50% 100%);
		background: #E3E9E5;
	}
}

@include media-breakpoint-up(md) {
	.mod-overons {
		position: relative;
		.vlak {
			margin-top: 0;
			margin-right: -100px;
		}
	}
}