.mod-projecten {
	position: relative;
	.item {
		
	}
}

.js-slick-projecten {
	.slick-arrow {
		width: 20px;
		height: 20px;
	}
	.slick-list {
		overflow: visible;
	}
	.slick-slide {
		.item {
			.image {
				.ratio-4x3 {
					position: relative;
					background: $grey;
					transition: 1s $ease;
					overflow: hidden;
					.bg-cover {
						position: absolute;
						top: -10px;
						left: -10px;
						right: -10px;
						bottom: -10px;
						opacity: .2;
						filter: blur(2px);	
						transition: 1s $ease;
						transition-delay: 0s;
					}
				}
			}
			.content {
				width: 0;
				opacity: 0;
				transition: 1s $ease;
				transition-delay: 0s;
				.inside {
					opacity: 0;
					transition: 1s $ease;
					transition-delay: 0s;
				}
			}
		}
	}
	.slick-slide.slick-active {
		.item {
			.image {
				.ratio-4x3 {
					.bg-cover {
						opacity: 1;
						filter: blur(0px);
						transition-delay: 1s;
					}
				}
			}
			.content {
				width: 25%;
				opacity: 1;
				.inside {
					opacity: 1;
					transition-delay: 1.5s;
				}
			}
		}
	}
}

@include media-breakpoint-up(md) {
	.js-slick-projecten {
		.slick-arrow {
			&.slick-prev {
				left: 0;
				bottom: 0;
				top: auto;
				transform: none;
			}
			&.slick-next {
				right: auto;
				left: 30px;
				bottom: 0;
				top: auto;
			}
		}
	}
  .mod-projecten {
		.item {
			.inside {
				min-width: 150px;
			}
			.theimage {
				margin: 0;
				width: 100%;
				padding-top: 100%;
			}
		}
  }
}

@include media-breakpoint-up(lg) {
  .mod-projecten {

  }
}