.bg-green {
	.btn-link {
		&:hover {
			color: #fff;
			&:after {
				color: #fff;
			}
		}
	}
}

.btn {
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 28px;
	color: #fff;
	clip-path: polygon(0 12%, 100% 0, 100% 100%, 0 88%);
	transition: 1s $ease;
	&:hover, &:focus, &:target {
		clip-path: polygon(0 0, 100% 12%, 100% 88%, 0 100%);
	}
	&.btn-light {
		background: #fff;
		color: $grey;
		&:hover, &:focus, &:target {
			background: darken(#fff, 15%);
			color: $grey !important;
		}
	}
	&.btn-primary {
		background: $green;
		color: #fff;
		&:hover, &:focus, &:target {
			background: lighten($green, 15%);
			color: #fff !important;
		}
	}
}

.btn-link {
	text-decoration: none;
	text-transform: uppercase;
	color: $grey;
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 1px;
	&:after {
		display: inline-block;
		font-style: normal;
		font-variant: normal;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		font-family: "Font Awesome 5 Pro";
		font-weight: 700;
		content: "\f054";
		font-size: 16px;
		transition: 0.2s $ease;
		margin-left: 16px;
		transform: translateY(1px);
		color: $green;
	}
	&.prev {
		&:after {
			float:left;
			line-height: 30px;
			content: "\f053";
			margin-left: auto;
			margin-right: 10px;
			transform: translateY(-1px) translateX(0px);
		}
	}
	&:hover {
		text-decoration: none;
		color: $green;
	}
	&:not(:hover) {
		&:after {
			color: $dark;
			margin-left: 10px;
		}
		&.prev:after {
			color: $dark;
			margin-left: 0;
			transform: translateY(-1px)  translateX(3px);
		}
	}
}