section {
	padding: 60px 0;
}

section.bg-transparent + section.bg-transparent,
section.bg-white + section.bg-white,
section.bg-greylight + section.bg-greylight {
	padding-top: 0 !important;
	margin-top: -40px;
}


@include media-breakpoint-up(md) {
	section {
		padding: 70px 0;
	}
	section.bg-transparent + section.bg-transparent,
	section.bg-white + section.bg-white,
	section.bg-greylight + section.bg-greylight {
		margin-top: -70px;
	}
}

@include media-breakpoint-up(lg) {
	section {
		padding: 90px 0;
	}
	section.bg-transparent + section.bg-transparent,
	section.bg-white + section.bg-white,
	section.bg-greylight + section.bg-greylight {
		margin-top: -90px;
	}
}

@include media-breakpoint-up(xl) {
	section {
		padding: 110px 0;
	}
	section.bg-transparent + section.bg-transparent,
	section.bg-white + section.bg-white,
	section.bg-greylight + section.bg-greylight {
		margin-top: -110px;
	}
}

@include media-breakpoint-up(xxl) {
	section {
		padding: 130px 0;
	}
	section.bg-transparent + section.bg-transparent,
	section.bg-white + section.bg-white,
	section.bg-greylight + section.bg-greylight {
		margin-top: -130px;
	}
}