<footer id="footer" class="section bg-bluedark" data-scroll-section>
  <div class="container">
    <p class="h6"> {{ options.footer_titel }} </p>
    <div class="row">
      <div class="col-md-12 col-lg-6">
        {{ options.over_ons }}
        <br>
      </div>
      <div class="col-md-3 col-lg-2">
        {% include "menu.twig" with {'items': footermenu1.get_items} %}
        <br>
      </div>
      <div class="col-md-3 col-lg-2">
        {% include "menu.twig" with {'items': footermenu2.get_items} %}
        <br>
      </div>
      <div class="col-md-6 col-lg-2">
        {{ options.contact }}
        <br>
      </div>
    </div>
    <div class="subfooter">
    	<br>
    	<div class="row">
    		<div class="col">
		      <p class="float-left"> 
            © {{ "now"|date('Y') }} Renovia BV
          </p>
    		</div>
    		<div class="col-auto">
					<p class="float-md-right"> Site by <a class="orange" href="http://www.stoerebinken.nl" target="_blank"> Stoere Binken </a></p>
    		</div>
    	</div>
    </div>
  </div>
</footer>