<section class="mod-content single-content content-image" data-scroll-section>
	<div class="container">
		<div class="image ratio-16x9 w-100 anime-reveal">
			<div class="bg-cover" style="background-image: url({{ Image(item.afbeelding)|resize(1024) }})"></div>
		</div>
	</div>
</section>