<section class="mod-content single-content content-text-image" data-scroll-section>
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-lg-4 d-flex align-items-end">
				<div class="w-100">
					{% if item.titel %}
						<h2 class="h5 line-bottom"> {{ item.titel }} </h2>
					{% endif %}
					{% if item.tekst %}
						{{ item.tekst }}
					{% endif %}
				</div>
			</div>
			<div class="col-md-7 col-lg-8 order-first order-md-last">
				<div class="image ratio-16x9 w-100 anime-reveal mb-4 mb-md-0">
					<div class="bg-cover" style="background-image: url({{ Image(item.afbeelding)|resize(1024) }})"></div>
				</div>
			</div>
		</div>
	</div>
</section>