<section class="mod-content single-content content-image-2x" data-scroll-section>
	<div class="container">
		<div class="row">
			<div class="col-md">
				<div class="image image1 {% if item.verhouding %} {{ item.verhouding }} {% else %} ratio-3x4 {% endif %} w-100 mb-30 mb-md-0 anime-reveal">
					<div class="bg-cover" style="background-image: url({{ Image(item.afbeelding)|resize(1024) }})"></div>
				</div>
			</div>
			<div class="col-md">
				<div class="image image2 {% if item.verhouding %} {{ item.verhouding }} {% else %} ratio-3x4 {% endif %} w-100 mb-30 mb-md-0 anime-reveal">
					<div class="bg-cover" style="background-image: url({{ Image(item.afbeelding2)|resize(1024) }})"></div>
				</div>
			</div>
		</div>
	</div>
</section>