<section class="mod-content single-content content-image-2x" data-scroll-section>
	<div class="container">
		<div class="row">		
			<div class="col-md-6 d-flex flex-column align-items-start">
				<div class="image ratio-4x3 w-100 mb-4 anime-reveal">
					<div class="bg-cover" style="background-image: url({{ Image(item.afbeelding)|resize(1024) }})"></div>
				</div>
				<div class="text anime-fadein mt-auto">
					{% if item.titel %}
						<h2 class="h5 line-bottom"> {{ item.titel }} </h2>
					{% endif %}
					{% if item.tekst %}
						{{ item.tekst }}
					{% endif %}
				</div>
			</div>
			<div class="col-md-6">
				<div class="image ratio-3x4 w-100 anime-reveal">
					<div class="bg-cover" style="background-image: url({{ Image(item.afbeelding2)|resize(1024) }})"></div>
				</div>
			</div>
		</div>
	</div>
</section>